
.form_custom {
    padding: 25px;
    max-width: 50%;
    margin-left:25%;
    position: static;
    border: 4px solid dodgerblue;
    border-radius: 15px;
    font: bold;
    color: black;
    border-radius: 15px;
}

.form_login {
    padding: 25px;
    position: relative;
    border: 2px solid black;
    max-width: 300px;
    margin-left:40%;
    border-radius: 15px;
    font: bold;
    color: white;
    background: #4785eb;
}
